<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Página inicial"}) %>

<body class="d-flex flex-column min-vh-100">
    <%- include('partials/navBar') %>
    <main class="flex-grow-1">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-12 d-flex justify-content-center">
                    <h3>
                      Bem vindo, <%= usuario.nome %>. O que desejaria fazer?
                    </h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
              <div class="col-12 col-sm-3 col-md-3 col-md-3">
                <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 text-center">
                  <h5>Adicionar passageiro</h5>
                  <button class="btn btn-primary px-3 m-3" data-bs-toogle="tooltip" title="Adicionar passageiro">
                    <h5 class="m-0">
                      <i class="fa fa-plus p-0"></i>
                    </h5>
                  </button>
                </div>
              </div>
              <div class="col-12 col-sm-3 col-md-3 col-md-3">
                <div class="card text-bg-dark">
                  <img src="/img/mandacaru_airlines.png" class="card-img" alt="...">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>