<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Página inicial"}) %>

<body class="d-flex flex-column min-vh-100">
    <%- include('partials/navBar') %>
    <main class="flex-grow-1">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-12 d-flex justify-content-center">
                    <div class="typewriter-title">
                        <h1>
                            Bem vindo ao meu site.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>