<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (aluno) { %>
        <div>
            <h3>Nome: <%= aluno.nome%></h3>
            <h3>Curso <%= aluno.curso%></h3>
            <h3>Matrícula: <%= aluno.matricula%></h3>
        </div>
    <% } else { %>
        <h3>Aluno não encontrado...</h3>
    <% } %>
    <p class="mt-2"><a href="/alunos" class="link-primary">Voltar</a></p>
</body>
</html>