<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Cadastrar passageiro" }) %>

<body>
    <%- include('../partials/navBar') %>
    <h1>
        Cadastrar passageiro
    </h1>
</body>

</html>