<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Cadastrar reserva" }) %>

<body>
  <%- include('../partials/navBar') %>
  <div class="container">
    <p class="text-center fs-3 my-3">Realizar reserva</p>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa-solid fa-plane-departure"></i> Buscar voo
      </div>
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="input-group mb-3">
              <label class="input-group-text" for="selectVooReserva">Options</label>
              <select class="form-select" id="selectVooReserva" aria-label="Example select with button addon" required>
                <option selected value="">Escolha o voo</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
            <button class="btn btn-secondary">Escolher este voo</button>
          </div>
        </div>

      </div>
    </div>


  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const selectVooReserva = document.querySelector("#selectVooReserva");
      const listaVoos = JSON.parse(`<%- listaVoos %>`);
      let html = selectVooReserva.innerHTML;
      listaVoos.forEach((voo) => {
        html = html + `<option value=${voo.cod}>` +
          `${voo.cidadeOrigem} - ${voo.cidadeDestino}` +
          `</option>`
      });
      selectVooReserva.innerHTML = html;

    })
  </script>
</body>

</html>